@font-face {
  font-family: 'Montserrat-Thin';
  src: local('Montserrat'), url(../assets/fonts/Montserrat-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat'), url(../assets/fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: local('Montserrat'), url(../assets/fonts/Montserrat-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: local('Montserrat'), url(../assets/fonts/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-Italic';
  src: local('Montserrat'), url(../assets/fonts/Montserrat-Italic.ttf) format('truetype');
}
